*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter sans-serif;
}
body{
  background-color: #1c1c1c;

}
.img{
  width: 20em;
  height: 25em;
  border-top-right-radius:15px;
  border-top-left-radius:15px;
}
.div1{
  width: 25.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #23252C;
  margin: auto;
  margin-top: 2em;
  margin-bottom: 2em;
  border-radius: 2em;
}
.div2{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin-top: 2.5em;
  margin-bottom: 2.5em;
  width: 20em;
  color: #FFFFFFDE;
  background-color:#15161e ;
  border-radius:15px;
}
.image-content{
  display: flex;
  justify-content: center;
  color: whitesmoke;
}
.name{
  color: #FFFFFFDE;
  padding-top: 10px;
  font-size: 2.5em;
}
.description1{
  color: #F3BF99;
  padding-top: 5px;
  font-size:1.2em ;
}
.description2{
  color: #FFFFFFDE;
  padding-top: 20px;
  font-size: 1em;
}
.about-text{
  font-size: 1.8em;
  text-align: left;
  margin-left: 20px;
  padding-top: 20px ;
}
.emailin a{
  text-decoration: none;
  padding: 8px 25px;
  border-radius: 10px;
  color: #FFFFFFDE;
}
.emailin{
  margin-top: 25px;
  display:flex;
  justify-content: center;
}
.email{
  background-color: white ;
  font-weight: 550;
  margin-left: 7px;

}
.emailin a{
  color: #15161e;
}
.lin{
  background-color: #0072b1;
  font-weight: 550;
  margin-left: 7px;
}
.emaildiv{
  display: flex;
  background-color: whitesmoke;
  justify-content: center;
  align-items: center;
  padding: 15px 25px;
  cursor: pointer;
  color: #15161e;
  border-radius: 10px;
}
.lindiv{
  display: flex;
  justify-content: center;
  background-color: #0072b1;
  align-items: center;
  padding: 15px 25px;
  cursor: pointer;
  color: whitesmoke;
  border-radius: 8px;
}
.content{
  width: 19em;
}
.about-para{
  padding-top: 0.7em;
}
.interests-text{
  font-size: 1.8em;
  text-align: left;
  margin-left: 20px;
  padding-top: 20px ;
}
.interests-para{
  padding-top: 0.7em;
}
.links{
  background-color: #161619;
  height: 4em;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content:center;
  gap: 4vmin;
  font-size: 1.5em;
}
.links a{
  color: whitesmoke;
}
